<table>
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <% todos.forEach(todo => { %>
      <tr>
        <td><%= todo.title %></td>
      </tr>
    <% }); %>
  </tbody>
</table>
